@font-face {
    font-family: Roboto;
    src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2);
}

div.yup {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;
    text-align: center;
}

body{
    background-color:#1e1e1e;
    overflow: hidden;
}

video{
    width:99vw;
    height:99vh;
}

div.link{
    color:#c58af9;
    padding:20px;
    font-size:25px;
    font-family:Roboto, arial;
    cursor:pointer;
}